p, .calc, .score {
  display: none;
}

body, .btn {
  /* font-family: 'Lobster', cursive; */
  /* font-family: 'Neucha', cursive;  */
  /* font-family: 'Pangolin', cursive; */
  font-family: 'Kurale', serif;
}


body {
  font-size: 4vh;
  background-color: #CD853F;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3%;
}


.score {
  width: 70%;
  font-size: 0.8em;
  margin-top: 0;
  padding: 10vh 5vh;
  border: 20px groove #F4A460;
  border-radius: 10px;
  background-color: #F5DEB3;
}


/* TEST */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1% 4% 2%;
  border: 20px groove #F4A460;
  border-radius: 10px;
  width: 45%;
  height: 65vh;
  background-color: #F5DEB3;
}

label {
  margin-bottom: 3%;
}

.group_answ {
  display: flex;
  flex-direction: column;
  margin: 5% 0;
}

.questions_field {
  height: 79%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  flex-direction: column;
  align-self: baseline;
}


/* BEGIN FIELD */
.begin {
  width: 60%;
  flex-direction: column;
  align-items: center;
  font-size: 4vh;
  border: 20px groove #F4A460;
  border-radius: 10px;
  background-color: #F5DEB3;
  padding: 2% 3%;
}

.begin_btn {
  width: auto;
}


/* RADIOBUTTON STYLE */
input[type=radio] {
  visibility: hidden;
  position: absolute;
}

input[type=radio] + label:before {
  height: 12px;
  width: 12px;
  margin-right: 8px;
  content: " ";
  display: inline-block;
  vertical-align: baseline;
  border: 1px solid #382d0b;
  margin-bottom: 3px;
}

input[type=radio]:checked + label:before {
  background: #DAA520;
}

input[type=radio] + label:before {
  border-radius:50%;
}



/* BUTTON STYLE */
.btn {
  /* display: flex; */
  font-size: 1em;
  border: 1px solid #382d0b;
  padding: 4px 25px;
  border-radius: 80px;
  background-color:#D2691E;
  margin: 1%;
  max-height: 75px;
  /* max-width: 40%; */
  justify-content: space-evenly;
}

.buttons_field {
  display: flex;
  justify-content: center;
}


/* MEDIA */
@media (max-width: 400px) {
  body {
    font-size: 3vh;
  }

  .begin {
    font-size: 3vh;
    width: 75%;
  }

  form {
    width: 75%;
  }

  .buttons_field {
    flex-direction: column;
  }
}

@media (min-width: 401px) and (max-width: 640px) {
  body {
    font-size: 4vh;
  }

  form {
    height: 85vh;
    width: 82%;
  }

  .begin {
    width: 80%;
  }

  .btn {
    font-size: 0.9em;
  }

  .score {
    padding: 0vh 5vh;
  }

  .questions_field {
    height: 77%;
  }

  .buttons_field {
    flex-direction: column;
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  body {
    font-size: 3.8vh;
  }

  .buttons_field {
    /* width: fit-content; */
    flex-direction: column;
  }

  .btn {
    font-size: 0.9em;
  }

  .questions_field {
    height: 79%;
  }

  .begin, form {
    width: 70%;
  }
}

@media (min-width: 961px) and (max-width: 1023px) {
  form {
    height: 70vh;
  }

  .buttons_field {
    flex-direction: row;
  }

  .questions_field {
    height: 87%;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 2vw;
  }

  .btn {
    max-height: 90px;
    max-width: 52%;
  }

  .questions_field {
    height: 88%;
    flex-direction: row;
  }
}
